@{
    ViewBag.Title = "Home Page";
}




    <!-- ----------------thisd Content ------------- -->



    <!--_____________________________________________ end third -->
    <!-----------------Slider----------------->

<div class="containerBody">

    <div class="Container">
        <div class="Slider_Content">
            <div class="First_part">
                <div class="Slider_Image" id="mainSlider">
                    <img src="@Url.Content("~/Content/images/Slider1.png")" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider2.png")" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider3.png" )" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider4.png")" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider5.png" )" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider7.png" )" class="slide">
                    <img src="@Url.Content("~/Content/images/Slider8.png" )" class="slide">
                </div>
                <button class="prev-btn-main">قبلی</button>
                <button class="next-btn-main">بعدی</button>
                <div class="dots-container-main"></div>
            </div>

            <div class="Second_part">
                <div class="Litter_Slider_Image" id="littleSlider">
                    <img src="@Url.Content("~/Content/images/Littleslider1.png")" class="slide">
                    <img src="@Url.Content("~/Content/images/Little_Slider2.png")" class="slide">
                    <img src="@Url.Content("~/Content/images/LittelSlider3.png")" class="slide">
                </div>

                <div class="dots-container-little"></div>
            </div>
        </div>
    </div>


    <!---------------End Slider--------------->
    <!----------------------------------------------------------------circle button-------------------------------------->

    <div class="Circle_Container">
        <div class="Circle_Container_Item">
            <ul class="Item_btn_Circle">

                <li class="m-15">
                    <a href="#" role="button" class="btn "
                       style="width: 80px; height: 80px ; border-radius: 50%; border:none; background-color: #f0b71c;">
                        <img src="@Url.Content("~/Content/svg2/daro.svg")">
                        <p class="title">دارو اکسپرس</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn"
                       style="width: 80px; height: 80px ; border-radius: 50%; border:none; background-color: #4062ac;">
                        <img src="@Url.Content("~/Content/svg2/ghest.svg")">
                    </a>
                    <p class="title"> پرداخت اقساطی</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn "
                       style="width:  80px; height: 80px  ; border-radius: 50%; border:none; background-color: #ec008c;">

                        <img src="@Url.Content("~/Content/svg2/makeup.svg")">
                    </a>
                    <p class="title">محصولات آرایشی</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn "
                       style="width:  80px; height: 80px  ; border-radius: 50%; border:none; background-color:#f15a29;">

                        <img src="@Url.Content("~/Content/svg2/mokamel.svg")">
                    </a>
                    <p class="title">مکمل رژیمی غذایی</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn "
                       style="width:  80px; height: 80px  ; border-radius: 50%; border:none; background-color: #26a9e0;">
                        <img src="@Url.Content("~/Content/svg2/badan.svg")">
                    </a>
                    <p class="title"> مکمل بدنسازی</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn "
                       style="width:  80px; height: 80px  ; border-radius: 50%; border:none; background-color: #da1c5c;">
                        <img src="@Url.Content("~/Content/svg2/ladies.svg")">
                    </a>
                    <p class="title"> محصولات بانوان</p>
                </li>

                <li>
                    <a href="#" role="button" class="btn "
                       style="width: 80px; height: 80px ; border-radius: 50%; border:none; background-color: #00a79d;">
                        <img src="@Url.Content("~/Content/svg2/mom&child.svg")">
                    </a>
                    <p class="title"> مادر و کودک</p>
                </li>
                <li>
                    <a href="#" role="button" class="btn "
                       style="width:  80px; height: 80px  ; border-radius: 50%; border:none; background-color: #92278f;">
                        <img src="@Url.Content("~/Content/svg2/majale.svg")">
                    </a>
                    <p class="title"> مجله دارو کده</p>
                </li>
            </ul>
        </div>
    </div>

    <!----------------------------------------------------------------End circle button-------------------------------------->
    <!-- --------------------ssssssssssssssssssssssss -->
    <div class="container">
        <div class="container-fluid">
            <ul class="imageCenterBranding">
                <li>
                    <img src="@Url.Content("~/Content/images/khamirdandan.png")">
                </li>
                <li>
                    <img src="@Url.Content("~/Content/images/colagen.png")">
                </li>
                <li>
                    <img src="@Url.Content("~/Content/images/navaksa.png")">
                </li>
                <li>
                    <img src="@Url.Content("~/Content/images/mesvakPromx.png")">
                </li>
            </ul>
        </div>
    </div>
    <!-- sssssssssssssssssssssssssssssssssssssss -->

    <div class="Content">
        <div class="ProductContainer">
            <div class="Baner">
                <img src="@Url.Content("~/Content/images/banner.png")" alt="">
            </div>
            <div class="Product">
                <div class="productItem">
                    <div class="items">

                        <div class="ProductRow">
                            <div class=" productImage ">
                                <img src="@Url.Content("~/Content/images/product.png" )" alt="">
                            </div>

                            <div class="buttonClick">
                                <hr>
                                <button><span class="lnr lnr-plus-circle"></span></button>
                                <hr>

                            </div>
                            <div class="titlePrice">
                                <b>لیورمد</b>
                                <p>
                                    زرد بند
                                </p>
                            </div>

                            <div class="price">
                                <div class="price_discount">
                                    <p>94000</p>
                                    <span class="offer">20%</span>
                                </div>
                                <div class="total">
                                    <p>300000</p>
                                    <span>3.4<span class="lnr lnr-star"></span> </span>
                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="items">

                        <div class="ProductRow">
                            <div class=" productImage ">
                                <img src="@Url.Content("~/Content/images/po3.png")" alt="">
                            </div>

                            <div class="buttonClick">
                                <hr>
                                <button><span class="lnr lnr-plus-circle"></span></button>
                                <hr>

                            </div>
                            <div class="titlePrice">
                                <b>لیورمد</b>
                                <p>
                                    زرد بند
                                </p>
                            </div>

                            <div class="price">
                                <div class="price_discount">
                                    <p>94000</p>
                                    <span class="offer">20%</span>
                                </div>
                                <div class="total">
                                    <p>300000</p>
                                    <span>3.4<span class="lnr lnr-star"></span> </span>
                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="items">

                        <div class="ProductRow">
                            <div class=" productImage ">
                                <img src="@Url.Content("~/Content/images/po2.png")" alt="">
                            </div>

                            <div class="buttonClick">
                                <hr>
                                <button><span class="lnr lnr-plus-circle"></span></button>
                                <hr>

                            </div>
                            <div class="titlePrice">
                                <b>لیورمد</b>
                                <p>
                                    زرد بند
                                </p>
                            </div>

                            <div class="price">
                                <div class="price_discount">
                                    <p>94000</p>
                                    <span class="offer">20%</span>
                                </div>
                                <div class="total">
                                    <p>300000</p>
                                    <span>3.4<span class="lnr lnr-star"></span> </span>
                                </div>

                            </div>



                        </div>
                    </div>
                    <div class="items">

                        <div class="ProductRow">
                            <div class=" productImage ">
                                <img src="@Url.Content("~/Content/images/po1.png")" alt="">
                            </div>

                            <div class="buttonClick">
                                <hr>
                                <button><span class="lnr lnr-plus-circle"></span></button>
                                <hr>

                            </div>
                            <div class="titlePrice">
                                <b>لیورمد</b>
                                <p>
                                    زرد بند
                                </p>
                            </div>

                            <div class="price">
                                <div class="price_discount">
                                    <p>94000</p>
                                    <span class="offer">20%</span>
                                </div>
                                <div class="total">
                                    <p>300000</p>
                                    <span>3.4<span class="lnr lnr-star"></span> </span>
                                </div>

                            </div>



                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>

</div>
    </div>





   
<!----------------Slider----------------------------------------------------------------->
<script>
    function initializeSlider(sliderId, prevBtnClass, nextBtnClass, dotsContainerClass) {
        const sliderWrapper = document.getElementById(sliderId);
        if (!sliderWrapper) return; // اگر اسلایدر پیدا نشد، از تابع خارج می‌شود

        const slides = sliderWrapper.querySelectorAll('img');
        const prevBtn = document.querySelector(`.${prevBtnClass}`);
        const nextBtn = document.querySelector(`.${nextBtnClass}`);
        const dotsContainer = document.querySelector(`.${dotsContainerClass}`);

        let currentIndex = 0;
        const slideCount = slides.length;

        // ایجاد نقطه‌های ناوبری
        if (dotsContainer) {
            for (let i = 0; i < slideCount; i++) {
                const dot = document.createElement('div');
                dot.classList.add('dot');
                dot.addEventListener('click', () => goToSlide(i));
                dotsContainer.appendChild(dot);
            }
        }

        const dots = dotsContainer ? dotsContainer.querySelectorAll('.dot') : [];

        function goToSlide(index) {
            if (index < 0) {
                currentIndex = slideCount - 1;
            } else if (index >= slideCount) {
                currentIndex = 0;
            } else {
                currentIndex = index;
            }

            sliderWrapper.style.transform = `translateX(-${currentIndex * 100}%)`;
            updateDots();
        }

        function updateDots() {
            if (dots.length > 0) {
                dots.forEach((dot, index) => {
                    dot.classList.remove('active-dot');
                    if (index === currentIndex) {
                        dot.classList.add('active-dot');
                    }
                });
            }
        }

        // کنترل دکمه‌های بعدی و قبلی
        if (nextBtn) {
            nextBtn.addEventListener('click', () => goToSlide(currentIndex + 1));
        }
        if (prevBtn) {
            prevBtn.addEventListener('click', () => goToSlide(currentIndex - 1));
        }

        // نمایش اسلاید اولیه
        goToSlide(0);
    }

    // مقداردهی اولیه برای اسلایدر اصلی
    initializeSlider('mainSlider', 'prev-btn-main', 'next-btn-main', 'dots-container-main');

    // مقداردهی اولیه برای اسلایدر کوچک
    initializeSlider('littleSlider', 'prev-btn-little', 'next-btn-little', 'dots-container-little');
</script>


<!-------------------------------------End Slider Script --------------------------------->


</html>